---
layout: default
---

<div
  class="mb-10 bg-yellow-100 bg-cover bg-center"
  style="{% backgroundImage "./src" + headerImage %}"
>
  {#% image "./src" + headerImage, "SOME ALT", "100vw", { class: "absolute w-fulsl object-cover" } %#}
  <div class="py-20" style="background-color: hsl(40, 80%, 50%, 0.5)">
    <div class="container p-5">
      <h1 class="font-bold font-serif" style="text-shadow: 0 0 0.5em white">
        {{ title }}
      </h1>
    </div>
  </div>
</div>

<div class="px-2">
  <article class="prose lg:prose-xl my-4 mx-auto">{{ content | safe }}</article>
</div>
